*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Inicio HEADER */

header{
   
    /* background-color: #1D2731; */
    width: 100%;
    height: auto;

}

.contenedor{
    width: 90%;
    max-width: 1410px;
    margin: auto;
    
}
#contenido{
    margin-left: 15%;
}
.head{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: auto;
    
}


.Menu{
    font-family: 'Material icons';
    font-size: 35px;
    color: #ffffff;
    cursor: pointer;
}

.Menu:hover{
    color: #ffc400;
}

.logo{
    width: 75px;
    margin-right: 25px;
}

.logo img{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
}

h3{
    color: #eff3f5;
}

.BtnHome{
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    cursor: pointer;
}

.IconHome{
    font-family: 'Material icons';
    font-size: 35px;
    color: #ffffff;
    
}

.IconHome:hover{
    color: #ffc400;
}

.Home{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    color: #eff3f5;
    position: relative;
}

.Home::before{
    content: "";
    position: absolute;
    width: 100%; height: 2px;
    background-color: #ffc400;
    border-radius: 100px;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

.Home:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
/* FIN HEADER */

/* INICIO SECCION TEMAS */



h2{
    color: #878fb8;
}

h3{
    color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
}

.SECCION{
    padding-left: 10%;
}

a{
    text-decoration: none;
    color: #ffffff;
}


label{
    color:#0bd4c1;
    font-weight: 600;
}



.BotonLista, .BotonImagen, .BotonSubtitulo, .BotonParrafo{
    /* Animación Izquierda a Derecha */
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    /*  */
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 12px;
    margin-left: 5px;
    border: 1px rgba(255, 255, 255, 0.3);
    font-size:14px;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 1200px) {
    .imagenprincipal{
        width: 360px;
    }
    
    .ImagenNivel img, 
    .TituloNivel{
        width: 85%;
    }
    .texto{
        padding-left: 75px;
    }
    .titulo{
        font-size: 24px;
    }
    
    .titulo2{
        font-size: 16px;
    }
    
    .texto{
        width: 60%;
    }
    
}
@media (max-width: 1024px) {
    .imagenprincipal{
        width: 360px;
    }
    
    .ImagenNivel img, 
    .TituloNivel{
        width: 85%;
    }
    .texto{
        padding-left: 75px;
    }
    .titulo{
        font-size: 24px;
    }
    
    .titulo2{
        font-size: 16px;
    }
    
    .texto{
        width: 60%;
    }

}

/* Large devices (desktops, 992px and up)*/
@media (max-width: 992px) { 

    .texto{
        width: 50%;
    }
    .ImagenNivel img, 
    .TituloNivel{
        width: 65%;
    }
    .niveles{
        padding: 20px 0;
        margin: 0 30px;
    }
    .ImagenNivel{
        width: 280px;
    }
    .indice{
        float: left;
    }
}


/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
        .texto{
            width: 70%;
        }
        .seccion1{
        display: flex;
        flex-direction: column;
        align-items: center;
        }
        .titulo{
            font-size: 36px;
        }
            
        .titulo2{
            font-size: 24px;
        }
        .niveles{
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
        .ImagenNivel img, 
        .TituloNivel{
            width: 100%;
        }
        .ImagenNivel{
            width: 450px;
        }
        .nivel1, .nivel2, .nivel3{
            margin-bottom: 28px;
        }
        .indice{
            background: #253C78;
            width: 90%;
            display: none;
            position:fixed;
        }
        .contenido{
            width: 100%;
        }
}

/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    .imagenprincipal{
        width: 260px;
    }
    .texto{
        padding-left: 0px;
        text-align: center;
    }
    .titulo{
        font-size: 24px;
    }
        
    .titulo2{
        font-size: 16px;
    }
    .ImagenNivel img, 
    .TituloNivel{
        width: 90%;
    }
    .ImagenNivel{
        width: 340px;
    }
    .indice{
        width: 90%;
        display: none;
        position:fixed;
    }
    .contenido{
        width: 100%;
    }
    #Cancelar{
        display: inline-block;
        margin-top: 15px;
        
    }#Editar{
        display: inline-block;
        margin-top: 15px;
    }#Eliminar{
        display: inline-block;
        margin-top: 15px;
        margin-bottom: 12px;
    }
    
}
@media (max-width: 350px) { 
    .Menu{
        font-family: 'Material icons';
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
    }
    .logonivel{
        width: 50px;
        margin-right: 25px;
    }
    .Home{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        text-decoration: none;
        font-size: 20px;
        margin-left: 10px;
        color: #eff3f5;
        position: relative;
    }
    .indice{
        width: 90%;
        display: none;
        position:fixed;
    }
    .contenido{
        width: 100%;
    }
}
@media (max-width: 300px) { 
    .numniv{
        font-size: 10px;
        
    }
    .Home{
        font-size: 10px;
    }
    .indice{
        width: 90%;
        display: none;
        position:fixed;
    }
    .contenido{
        width: 100%;
    }
}
body{
    background-image: url("../img/fondoAlt1.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contenedor_carga{
    background-color: #072035;
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition:all 1s ease ;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}
#carga{
    border: 15px solid #ccc;
    border-top-color: #878DB4;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}
@keyframes girar{
    from { transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
h1{
    color: #ffc400;
}
#Nombre,#Correo,#Contraseña{
    color: white;
    margin-left: 10px;
}
#Editar{
    background-color: #1067b4;
    border: white solid 1px;
    color: white;
    padding: 7px;
    border-radius: 40px;
}
#Eliminar{
    background-color: #d40909;
    border: white solid 1px;
    color: white;
    padding: 7px;
    border-radius: 40px; 
}
#Cancelar{
  background-color: #bc09d4;
    border: white solid 1px;
    color: white;
    padding: 7px;
    border-radius: 40px;   
}