<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../css/indice.css">
    <title>Contabilidad para todos</title>
</head>

    <body>
        <div class="temario">
            <h3 class="titulo-temario">Temario</h3>
            <div class="tema">Tema 1
                <div class="subtema">
                    Subtema 1.1
                </div>
                <div class="subtema">
                    Subtema 1.2
                </div>
                <div class="subtema">
                    Subtema 1.3
                </div>
                <div class="subtema">
                    Subtema 1.4
                </div>
            </div>
            <div class="tema">Tema 2
                <div class="subtema">
                    Subtema 2.1
                </div>
                <div class="subtema">
                    Subtema 2.2
                </div>
                <div class="subtema">
                    Subtema 2.3
                </div>
                <div class="subtema">
                    Subtema 2.4
                </div>
            </div>
            <div class="tema">Tema 3
                <div class="subtema">
                    Subtema 3.1
                </div>
                <div class="subtema">
                    Subtema 3.2
                </div>
                <div class="subtema">
                    Subtema 3.3
                </div>
                <div class="subtema">
                    Subtema 3.4
                </div>
            </div>
        </div>
    </body>
</html>
